:root {

    --background-color: #fff;
    --primary-text-color: #333;
    --secondary-text-color: #999;
    --decoration-color: #eee;
    --link-color: #36c;

    @media (prefers-color-scheme: dark) {
        --background-color: #000;
        --primary-text-color: #eee;
        --secondary-text-color: #666;
        --decoration-color: #222;
        --link-color: #69f;
    }

    @media print {
        --background-color: #fff;
        --primary-text-color: #000;
        --secondary-text-color: #000;
        --decoration-color: #000;
        --link-color: #000;
    }

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    color-scheme: light dark;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--primary-text-color);
    background: var(--background-color);
    font-size: 1em;
    line-height: 1.5;
    font-family: var(--primary-font), sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {

    color: inherit;
    text-decoration: underline;

    &:hover {
        color: var(--link-color);
    }

}

abbr {
    text-decoration: none;
    cursor: help;
}
