.root {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > h1 {
        font-size: 4em;
    }

    > h1, > p {
        text-align: center;
    }

    > p {
        margin: 1em;
    }

}
