.root {

    > hgroup {

        > h3, > p {
            display: inline;
        }

        > h3 {

            font-weight: 700;
            font-size: 1em;

            &::after {
                content: " · ";
                font-weight: 400;
                color: var(--secondary-text-color);
            }

        }

    }

}
