.root {

    > hgroup {

        margin: 0.75em 0;

        > * {
            display: inline;
        }

        > h3 {
            font-weight: 700;
            font-size: 1em;
        }

        > p::before {
            content: " · ";
            color: var(--secondary-text-color);
        }

        > p:last-child {
            color: var(--secondary-text-color);
        }

    }

}
