.root {

    > hgroup {

        margin: 0.75em 0;

        > * {
            display: inline;
        }

        > h3 {

            font-weight: 700;
            font-size: 1em;

            &::after {
                content: " / ";
                font-weight: 400;
            }

        }

        > p:not(:last-child)::after {
            content: " · ";
            color: var(--secondary-text-color);
        }

        > p:last-child {
            color: var(--secondary-text-color);
        }

    }

}
